@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{

    --Violet: hsl(257, 40%, 49%);
    --Soft-Magenta: hsl(300, 69%, 71%);
    
}

body html{
    height: 100%;
}

*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--Violet);
    background-image: url('/images/bg-mobile.svg');
    background-size: cover;
    width: auto;
    height: auto;
    
    
    
}

.footer{
    min-width: 2rem;
    height: auto;
    max-width: 4rem;   
}

h2{
    font-family: 'Poppins', Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    text-align: center;
}

p{
    font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.15em;

}

#header{
    display: block;
    width: 100%;
    height: auto;
    margin: 25px 25px 50px 25px;
}

#header>img{
    display: block;
    width: 150px;
    height: auto;
}

#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 20px 25px 20px 25px;
    
}

#image>img{
    display: block;
    width:100%;
   
}

#footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: auto;
    height: auto;
    margin: 20px 25px 20px 25px;  
}

#footer>img{
    border: solid 1px white;
    border-radius: 25%;
    color: white;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin: 1rem .5rem 1rem .5rem;
    
}

.community{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 25px 0 25px 0;
    
}

p{
    margin: 1rem 0 2rem 0;
    text-align: center;
}

#button{
    margin: 16px 50px 0 50px;
}

button:active{
    background-color: var(--Soft-Magenta);
}

button{
    border: none;
    background-color: white;
    width: 190px;
    padding: 0.8em;
    border-radius: 12rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--Violet);
    box-shadow: 5px 3px 10px 10px hsla(180, 6%, 6%, 0.39);
   
}




@media(min-width:1440px){


body html{
    height: 100%;
}

*{
    color: white;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

body{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--Violet);
    background-image: url('/images/bg-desktop.svg');
    background-size: cover;
    width: auto;
    height: auto;
    
    
}

.footer{
    min-width: 2rem;
    height: auto;
    max-width: 4rem;   
}

h2{
    font-family: 'Poppins', serif;
    font-size: 2.5rem;
    text-align: left;
}

p{
    font-family: 'Open Sans', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.2em;
}

#header{
    display: block;
    margin: 2.5rem 0 1rem 5rem;
}

#body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 40px 24px 16px 24px;
    padding: 0 0 0 1rem;
}

#footer{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: 10rem;
    margin-top: 1.5rem;
    
}

.footer{
    margin: 1rem .9rem 2rem .9rem;
}

.community{
    display: flex;
    flex-direction: column;
    padding: 0 100px 0 100px;
    width: 700px;
}

#body-header{
    margin: 0 0 2rem 0;
}

p{
    margin: 1rem 0 2rem 0;
    text-align: left;
}

#button{
    margin: 1rem 0 0 0;
}

button:active{
    background-color: var(--Soft-Magenta);
}

button{
    border: none;
    background-color: white;
    width: 40%;
    padding: 0.8em;
    border-radius: 10rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--Violet);
    box-shadow: 5px 3px 10px 10px hsla(180, 6%, 6%, 0.39); 
}



}



    